fastapi
pydantic
transformers
accelerate
flask
langchain
langchain-groq
chromadb
python-dotenv
PyPDF2
bcrypt
gunicorn
Flask-Cors
sentence-transformers
python-multipart
#pysqlite3-binary
moviepy
fastapi==0.115.8
groq==0.18.0
langchain==0.3.18
langchain_groq==0.2.4
moviepy==2.1.2
pdfplumber==0.11.5
pydantic==2.10.6
PyPDF2==3.0.1
Requests==2.32.3
scikit_learn==1.6.1
sentence_transformers==3.4.1
tenacity==9.0.0
transformers==4.48.3
whisper==1.1.10
#git+https://github.com/openai/whisper.git